@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

:root{
    --primary-size: 3.8rem;
    --secondart-size:2.8rem;
    --primary-color:#e7767f;
    --secondary-color:#fdf2f7;
    --third-color:#c14052;
}

*{
	box-sizing:border-box;
}

body {
	background-color:var(--primary-color);
    font-family: "Muli", sans-serif;
    display:flex;
    flex-direction: column;
	justify-content: center;
	align-items:center;
    width: 100%;
}

.Year-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items:center;
    text-align: center;
}

.Year-container table{
    background-color: var(--secondary-color);
    padding:10px 20px;
    border-radius: 30px;
    margin:auto;
    width: 100%;
    
}

.hidden{
	display: none;
}

.btn{
    border: 0;
    border-radius: 20px;
    margin:0 10px;
    background-color: var(--third-color);
    color:#fff;
}

.cookInfo{
    margin: 1rem 1rem;
    padding:10px 20px;

    border-radius: 50px;
    width: 100%;

}

.cookInfo a{
    margin-left: 0.5rem;
}