

:root{
	--primary-color:lightblue;
	--secondary-color:#fff;
	--primary-fontsize:clamp(2rem, 3vw, 2.6rem);
}
*{
	box-sizing:border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    margin: auto;
    font-size: clamp(2rem, 3vw, 2.6rem);
}

/* 添加表格边框 */
table, th, td {
     border: 0px solid black;
     border-collapse: collapse; /* 避免双重边框 */
     padding: 2px 5px;
 }

/* 将 "Cook Name" 下方的文字置中 */
td:nth-child(1) { /* 第三个 <td> 元素（即 "Cook Name"） */
    text-align: center;
    vertical-align: middle;
}

/* 在手机上显示为八成满 */
@media only screen and (max-width: 768px) {
	
body {
    width: 80%;
    margin: auto; /* 居中显示 */
    background-color: var(--primary-color); /* 底色为天蓝色 */
    padding: 20px; /* 添加一些内边距 */
    font-size: 3.5rem;
}
}