<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Commodity</title>
    <style>
    .item-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .item-container img {
        max-width: 100%;
        height: auto;
    }
</style>
</head>
<body>    
<body>
    <h1 style="font-size: 300%; text-align: center;">物品資訊</h1>
    <div th:each="item : ${items}">
        <div class="item-container">
            <h2 th:text="${item.persent_name}"></h2>
            <p th:text="${item.remark}"></p>
            <img th:src="${item.img_path}" />
        </div>
    </div>
</body>
</body>
</html>