<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/CSS/CookForm.css">
    <title>Show Cooking List</title>

</head>
<body>
    <h1>菜餚總覽</h1>
    <table>
        <tr>
            <th>菜名</th>
            <th>類型</th>
            <th>日期</th>
            <th>修改</th>
        </tr>
        <!-- 这里保持不变 -->
        <tr th:each="cook : ${cookingList}">
            <td th:text="${cook.cookName}"></td>
            <td th:text="${cook.type}"></td>
            <td th:text="${#strings.substring(#dates.format(cook.cookDate, 'yyyy-MM-dd'), 0, 10)}"></td>
            <td><a th:href="'https://ansathseanbackend.com:8080/CookModify/' + ${cook.UUID}+'/'+${wisher}">修改</a></td>
        </tr>
    </table>
</body>
</html>
