<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/CSS/CookForm.css">
    <style>
        body {
            width:100%;
            height:100vh;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增便當菜</title>
</head>
<body>
    <h2>新增菜餚</h2>
    <form th:action="@{'/submitCooking/' + ${wisher}}" method="post" class="inputCooks">
        <table>
            <thead>
                <tr>
                    <th>菜名</th>
                    <th>類型</th>
                </tr>
            </thead>
            <tbody >
                <!-- Display six empty rows for user input -->
                <tr th:each="row : ${#numbers.sequence(1, 4)}">
                    <td><input type="text" name="cookNames" style="border-radius: 10px;padding:10px;"/></td>
                    <td>
                        <select name="types" style="border-radius: 10px;padding:10px;">
                            <option value="配菜">配菜</option>
                            <option value="主菜">主菜</option>
                            <option value="蔬菜">蔬菜</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Add a hidden input field to submit the wisher value -->
        <input type="hidden" name="lineID" value="${wisher}" />
        <button type="submit" class="btn" style="margin:30px 20px;">提交</button>
    </form>
</body>
</html>
