<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/CSS/CookForm.css">
    <title>上傳圖片與檢視便當資訊</title>
</head>
<body>
    <h1>上傳圖片與檢視便當資訊</h1>
    <div id="wisher" class="hidden">[[${wisher}]]</div>
    <div id="dateString" class="hidden">[[${dateString}]]</div>
     <div id="bentoID"  class="hidden"></div>
     <h2><span id="cookDate"></span></h2>
    <form id="uploadForm" enctype="multipart/form-data" >
        <input type="file" id="fileInput" name="file">
        <button type="button" class="btn" onclick="uploadFile()">Upload</button>
    </form>
    
    
    <script type="text/javascript" src="/JavaScript/Upload.js" th:inline="javascript"></script>
</body>
</html>
</html>