<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/VocForm.css">
    <title>單字清單</title>
</head>
<body>

    <!-- 頁面標題 -->
    <header>
        <h1>單字清單</h1>
    </header>
    <!-- 隱藏輸入欄位，包含 JSON 格式的字典資料 -->
   <div class="hidden" id="voc-data">[[${vocDictionary}]]</div>
   <div class="hidden" id="has-before">[[${HasBefore}]]</div>
   <div class="hidden" id="has-next">[[${HasNext}]]</div>
   <div class="hidden" id="has-search">[[${HasSearch}]]</div>
   <div class="hidden" id="Do-search">[[${DoSearch}]]</div>

	<!-- 搜尋欄位 -->
	<div th:if="${HasSearch}" id="search-bar-container">
  	  <form id="search-form" th:action="@{/DoVocabularySearch/{lineId}/{keyWords}(lineId=${user}, keyWords='')}" method="get">
    	    <input type="text" id="search-bar" name="keyWords" placeholder="輸入要搜尋的單字..." required>
    	    <button type="submit" id="search-button">搜尋</button>
  	  </form>
	</div>

<!-- 判斷區塊 -->
<div th:if="${DoSearch != null and DoSearch and (vocDictionary == null or vocDictionary.empty)}" id="no-result">
    <p>找不到結果，請嘗試其他關鍵字。</p>
</div>

    <!-- 單字清單 -->
    <main>
        <div id="table-container"></div>
    </main>

    <!-- 頁面分頁 -->
    <footer>
        <nav>
        <!-- 上一頁按鈕，當前頁減 1 -->
        <a th:if="${HasBefore}" 
           th:href="@{/VocabularyList/{user}/{page}(user=${user}, page=${page - 1})}">
            <button class="arrow-button" id="prev-page">&lt;</button>
        </a>
        
        <!-- 當 HasBefore 和 HasNext 都為 false 時隱藏 current-page -->
        <span th:if="${HasBefore or HasNext}" id="current-page">[[${page}]]</span>
        
        <!-- 下一頁按鈕，當前頁加 1 -->
        <a th:if="${HasNext}" 
           th:href="@{/VocabularyList/{user}/{page}(user=${user}, page=${page + 1})}">
            <button class="arrow-button" id="next-page">&gt;</button>
        </a>
        </nav>
    </footer>

    <!-- 引用JS -->
   <script type="text/javascript" src="/JavaScript/VocabularyList.js" th:inline="javascript"></script>
</body>
</html>
